cad/gcode/* linguist-generated
*.plt linguist-generated
#code/control/doc/* linguist-documentation
*.html linguist-documentation
*.css linguist-vendored
*.js linguist-vendored
*.toc linguist-generated
old/Software/gui.py linguist-generated
old/Software/tests/BlobDetector/* linguist-vendored
